@model Web_AspDotNet_ArtikelDb.Models.AddArtikel
@addTagHelper Microsoft.As

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <form asp-
    <h1>Insert</h1>
</body>
</html>
